<style>
img {
	50%: 20%;
}
</style>

<body>
	<img src="IMG_1759.JPG" width="200" height="120"
</body>

div.background {
	color: blue;
	text-align: center;
	
}

.header {
	border: solid 7px white;
	padding: 60px;
	margin: 80px 80px 80px 80px; 
	text-align: center;
	background: #1abc;
	color: white;
	font-size: 30px;
}

div.background{
	background: url(images.jpeg.jpg) no-repeat;
	background-size: 1400px 600px;
	border: 2px solid black
}

div p {
	font-size: 20px;
	color: solid black;
	text-align: justify;
	font-family:"gill sans"
}

#fixed-position {

	position: fixed;
	background: black;
	color: white;
}

h2:hover{
	background-color: teal;
	font-size: 60px;
}

img {
	border: solid 4px black;
}
